
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
  }
  
  .styled-table th, .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  

  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #009879;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  /* Mobile View Cards */
  .card-container {
    display: none;
  }
  
  .card {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    margin: 0 0 10px;
  }
  
  
  @media only screen and (max-width: 768px) {
    .table-container {
      display: none; /* Hide table on mobile */
    }
  
    .card-container {
      display: block; /* Show cards on mobile */
    }
  }
  