<div class="container">
  <nav class="sidenav">
    <ul>
      <li>
        <a (click)="goTo('tables')">{{'tables' | translate}}</a>
      </li>
      <li>
        <a  (click)="goTo('forms')">{{'forms' | translate}}</a>
      </li>
      <li>
        <a  (click)="goTo('charts')">{{'charts' | translate}}</a>
      </li>
    </ul>

    <!-- Language selection dropdown -->
    <div class="language-dropdown">
      <label for="language-select">Language:</label>
      <select id="language-select" (change)="changeLanguage($event)">
        <option value="en">English</option>
        <option value="fr">French</option>
      </select>
    </div>
  </nav>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
